*{
    box-sizing: border-box;
}
.main{
    display: flex;
    flex-wrap: wrap;
    height: 450px;
}
.image{
    flex: 40%;
    padding: 20px;
    background-image: url("../img/alanturing.jpg");
    background-repeat: no-repeat;
}
.quotes{
    vertical-align: middle;
    font-size: 50px;
    font-style: italic;
    font-family: Arizonia;
    flex: 60%;
    background-color: white;
    padding: 20px;
}
#quotes{
    font-size: 30px;
    opacity: 0;
    animation: quotes 10s ease-in-out infinite;
}
@keyframes quotes{
    0%{opacity: 0;}
    30%{opacity: 100;}
    60%{opacity: 100;}
    100%{opacity: 0;}
}